.caixa{
    color: white;
    height: 60px;
    width: 60px;
    display: inline-block;
}

.roxo {
    background-color: purple;
    display: none;
}

.azul{
    background-color: blue;
}

.rosa{
    background-color: pink;
}

.preto{
    background-color: black;
}

.verde{
    background-color: green;
    position: relative;

    transition: ease 1s;
}

.margin-top{
    margin-top: 20px;
}